.line{
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}
body{
    text-align: center;
}

#app{
    background-color: blueviolet;
    margin-bottom: 8px;
}
#games{
    background-color: cornflowerblue;
    margin-bottom: 8px;
    margin-top: 8px;
    
}
#chatbot{
    background-color: crimson;
    margin-top: 8px;
}
img{
    margin-left: 8px;
    margin-right: 8px;
}